<!DOCTYPE html>
<html>

<head>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../static/admin/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../../static/admin/css/personal/style.css" />
    <link type="text/css" rel="stylesheet" href="../../static/css/chosen.min.css" />
    <link type="text/css" rel="stylesheet" href="../../static/admin/css/personal/random.css" />
    <link rel='shortcut icon' href='../../static/favicon/gear.png' type='image/x-icon'/ >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="../../static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/admin/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../static/js/chosen.jquery.min.js"></script>
    <title>Admin Panel</title>
</head>

<body>
    {% include "admin/adminnav.html" %}

    <div class="container">
        <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#test1">Add User</a></li>
                <li class="tab col s3"><a href="#test2">Delete User</a></li>
                <li class="tab col s3"><a href="#test4">Change Password</a></li>
              </ul>
            </div>
            <div id="test1" class="col s12">
                <form id="addform">
                    <div class="input-field">
                        <label>Name:</label>
                        <input type="text" id="addname">
                    </div>
                    <div class="input-field">
                        <label>Password:</label>
                        <input type="password" id="addpassword">
                    </div>
                    <div class="input-field">
                        <label>Repeat Password:</label>
                        <input type="password" id="addrepeat">
                    </div>
                    <div class="input-field">
                        <a class="waves-effect waves-light btn" id="addsubmit">Submit</a>
                    </div>
                </form>
            </div>
            <div id="test2" class="col s12">
                <form id="deleteform">
                    <div class="input-field">
                        <select class="browser-default chosen" data-placeholder="Choose a user..." id="deletename">
                            <option value=""></option>
                            {% for user in users %}
                            <option value="{{ user['id'] }}">{{ user['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-field">
                        <label>User Password</label>
                        <input type="password" id="deletepassword">
                    </div>
                    <div class="input-field">
                        <a class="waves-effect waves-light btn" id="deletesubmit">Delete</a>
                    </div>
                </form>
            </div>
            <div id="test4" class="col s12">
                <form id="changeform">
                <div class="input-field">
                        <select class="browser-default chosen" data-placeholder="Choose a user..." id="changename">
                            <option value=""></option>
                            {% for user in users %}
                            <option value="{{ user['id'] }}">{{ user['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-field">
                        <label>Old Password</label>
                        <input type="password" id="changeold">
                    </div>
                    <div class="input-field">
                        <label>New Password:</label>
                        <input type="password" id="changenew">
                    </div>
                    <div class="input-field">
                        <label>Repeat Password:</label>
                        <input type="password" id="changerepeat">
                    </div>
                    <div class="input-field">
                        <a class="waves-effect waves-light btn" id="changesubmit">Submit</a>
                    </div>
                </form>
            </div>
          </div>
    <script>
        function updateChosen(i) {
            $.get("/admin/api/chosen", function(dat) {
                var data = JSON.parse(dat)
                var ins = ""
                for (var n = 0; n < data.length; n++) {
                    ins += "<option value='" + data[n]['id'] + "'>" + data[n]['name'] + "</option>"
                }
                $("#" + i).empty()
                var newOption = $(ins);
                $('#' + i).append(newOption);
                $("#" + i).trigger("chosen:updated");
            })
        }    
    </script>
    <script>
        $("#changesubmit").click(function() {
            if ($("#changename").val()) {
                if ($("#changenew").val().length > 7) {
                    if ($("#changenew").val() == $("#changerepeat").val()) {
                        if ($("#changeold").val()) {
                            $.post("/admin/api/changeuser", {old: $("#changeold").val(), new: $("#changenew").val(), id:$("#changename").val()}, function(data) {
                                if (data == "incorrect") {
                                    Materialize.toast("The password you entered was incorrect", 4000)
                                }
                                if (data == "true") {
                                    updateChosen("changename")
                                    updateChosen("deletename")
                                    $("#deletename").val('').trigger("chosen:updated");
                                    $("#changeform")[0].reset();
                                    Materialize.toast("The password was updated successfully", 4000)
                                }
                            })
                        } else {
                            Materialize.toast("Please enter your old password", 4000)
                        }
                    } else {
                        Materialize.toast("Your passwords do not match", 4000)
                    }
                } else {
                    Materialize.toast("You password must be at least 8 characters", 4000)
                }
            } else {
                Materialize.toast("Please select a user", 4000)
            }
        })
    </script>
    <script>
    //this is the code for the delete page
    $(".chosen").chosen();
    $("#deletesubmit").click(function() {
        if ($("#deletename").val()) {
            if ($("#deletepassword").val()) {
            $.post("/admin/api/deleteuser", {id: $("#deletename").val(), password: $("#deletepassword").val()}, function(data) {
                if (data == "true") {
                    updateChosen("changename")
                    updateChosen("deletename")
                    $("#deletename").val('').trigger("chosen:updated");
                    $("#deleteform")[0].reset()
                    Materialize.toast("The user was deleted", 4000)
                } else {
                    Materialize.toast("The password you entered was incorrect", 4000)
                }
            })
            } else {
                Materialize.toast("Please enter a password", 4000)
            }
        } else {
            Materialize.toast("Please pick a user", 4000)
        }
    })
    </script>
    <script>
        //this is the code for the add page
        $("#addsubmit").click(function() {
            if ($("#addname").val()) {
                if ($("#addpassword").val().length > 7) {
                    if ($("#addpassword").val() == $("#addrepeat").val()) {
                        $.post("/admin/api/adduser", {password: $("#addpassword").val(), name:$("#addname").val()}, function(data) {
                            if (data == "true") {
                                Materialize.toast("The user was added successfully", 4000)
                                $("#addform")[0].reset()
                                updateChosen("deletename")
                                updateChosen("changename")
                            } else if (data == "false") {
                                Materialize.toast("The name is already taken", 4000)
                            } else {
                                Materialize.toast("The user was not added", 4000)
                            }
                        })
                    } else {
                        Materialize.toast('The passwords do not match', 4000)
                    }
                } else {
                    Materialize.toast('The password is not long enough', 4000)
                }
            } else {
                Materialize.toast('Please enter a name', 4000)
            }
        })
    </script>
    <script>
        $(".chosen").chosen();
        $(".button-collapse").sideNav();
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();
    </script>
</body>

</html>