<!DOCTYPE html>
<html>

<head>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../static/admin/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../../static/admin/css/personal/style.css" />
    <link type="text/css" rel="stylesheet" href="../../static/admin/css/personal/random.css" />
    <link rel='shortcut icon' href='../../static/favicon/gear.png' type='image/x-icon'/ >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="../../static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/admin/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../static/admin/js/chart.js"></script>
    <script type="text/javascript" src="../../static/admin/js/list.js"></script>
    <title>Admin Panel</title>
</head>

<body>
    {% include "admin/adminnav.html" %}

    <div class="container">
        <h3 style="text-align: center">Reservations</h3>
        <div id="users">
            <div class="input-field">
  <input class="search validate" placeholder="Search By Name" type="text" />

                </div>
        <table class="striped responsive-table">
        <thead>
          <tr>
              <th>Party Name</th>
              <th>People</th>
              <th>Phone</th>
              <th>Details</th>
              <th>Date</th>
              <th>Time</th>
          </tr>
        </thead>
        <tbody class="list">
            {% for item in reservations %}
            <tr>
                <td class="name">{{ item['name'] }}</td>
                <td>{{ item['people'] }}</td>
                <td>{{ item['phone'] }}</td>
                <td>{{ item['details'] }}</td>
                <td>{{ item['month'] }}/{{ item['day'] }}/{{ item['year'] }}</td>
                <td class="time">{{ item['time'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
    <script>    
        var options = {
          valueNames: ['name', 'time']
        };

        var userList = new List('users', options);
    </script>
    <script>
        $(".button-collapse").sideNav();
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();
    </script>
</body>

</html>