@import url(https://fonts.googleapis.com/css?family=Oswald);
* {
    font-family: 'Oswald', sans-serif;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
    }
h1, h2, h3, h4, h5, h6, p, li{
    color: white;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}
#imageC {
    width: 100%;
}
.carousel {
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.panel-body {
    background-color: white;
    border-width: 0px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.panel-body p, h1 {
    color: black;
    opacity: 1;
}
.lead {
    font-size: 20px;
}
.navbar-default {
    background-color: black;
    opacity: 1;
    border-width: 0px;
    z-index: 1;
    width: 100%;
    border-radius: 0px;
    margin-bottom: -50px;
}
.navbar-default ul {
    z-index: 5;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: black;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: white;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

@media screen and (max-width: 480px) {
    .lead {
        font-size: 15px;
    }
}
@media screen and (max-width: 768px) {
        .navbar-default {
            position: fixed;
    }
}

.navbtn {
	padding: 5px !important;
	margin-top: 7px;
}
.navbtn:hover {
	background: #fff !important;
	color: black !important;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-bottom:40px; /* Height of the footer element */
}
#footer {
	background:black;
	width:100%;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
}
#footer p {
    text-align: center;
    color: white;
    margin-top: 7px;
}
@media screen and (max-width: 350px) {
    #footer p {
	font-size: 11px;
	}
}

.leadchef {
	font-size: 20px;
}
@media screen and (max-width: 480px) {
    .leadchef {
    	font-size: 15px;
    }
}

.chefimg {
	margin-left: 20px;
	margin-bottom: 20px;
}