<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Leaf</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/awesome.css">
<link rel="stylesheet" href="../static/css/social.css">
    <link href="../static/css/personal/style.css" rel="stylesheet">
    <link href="../static/css/date.css" rel="stylesheet">
    <link href="../static/css/jquery-clockpicker.min.css" rel="stylesheet">
    <link rel='shortcut icon' href='../static/favicon/faviconnew.png' type='image/x-icon'/ >
    <style>
        input[readonly]
{
    background-color:white !important;
}
    </style>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .date * {
            color: black;
        }
    </style>
</head>

<body id="body">
    <div id="wrapper">
        {% include "nav.html" %}
        <div class="container-fluid">
            <div class="row" style="margin-top: 70px;">
                <div class="col-lg-12 text-center">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body" style="margin: -2px;">
                    <form class="form-horizontal" method="post" action="/reserved" id="contact">
                        <fieldset>

                            <!-- Form Name -->
                            <legend>Reservations</legend>
                            
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Name*</label>
                                <div class="col-md-4">
                                    <input id="name" type="text"  name="name" placeholder="Name..." class="form-control input-md">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Phone number*</label>
                                <div class="col-md-4">
                                    <input id="phone" name="phone" type="tel" placeholder="(919) 457-3985" class="form-control input-md">

                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Number in party*</label>
                                <div class="col-md-4">
                                    <input id="people" name="people" type="number" placeholder="People..." class="form-control input-md" min="1" max="100">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Date*</label>
                                <div class="col-md-4">
                                    <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" id="date" readonly/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                </div>
                            </div>
                            <div id="second" style="display: none">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textarea">Time*</label>
                                <div class="col-md-4">
                                    <div class="input-group clockpicker">
                                        <input type="text" class="form-control" id="theTime" readonly="true">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
			    <div class="form-group" style="margin-bottom: 0px">
                                <label class="col-md-4 control-label" for="textarea"></label>
                                <div class="col-md-4">
					<div class="alert alert-info">
                        Please enter a time between <span id="start"></span>:00 and <span id="end"></span>:00
					</div>                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textarea">Details</label>
                                <div class="col-md-4">
                                    <textarea class="form-control" id="message" name="message"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-4">
                                    <input type="button" value="Submit" onclick="go()" class="btn btn-primary" style="color: white !important">
                                <label class="control-label" for="textinput" style="margin-left:10px;">*input is required</label>
                                </div>
                            </div>
                            </div>
                        </fieldset>
                        
                        <input type="hidden" id="hiddenday" name="day">
                        <input type="hidden" id="hiddenyear" name="year">
                        <input type="hidden" id="hiddenmonth" name="month">
                        <input type="hidden" id="hiddentime" name="time">
                    </form>
                </div>
            </div>
            </div>
            <div id="content">
		</div>
		<div id="footer">
            <p>Copyright © 2015 Leaf Bakery<span class="h"> — 
                <a class="btn btn-social-icon btn-twitter btn-xs" href="
https://twitter.com/LeafBakery">
                <span class="fa fa-twitter"></span>
              </a>
                <a class="btn btn-social-icon btn-instagram btn-xs" href="
https://www.instagram.com/leafglutenfree/">
                <span class="fa fa-instagram"></span>
              </a>
                <a class="btn btn-social-icon btn-facebook btn-xs" href="
https://www.facebook.com/Leaf-Gluten-free-BakeryRestaurant-494401784066601/?ref=hl">
                <span class="fa fa-facebook"></span>
              </a>
                </span>
            </p>
        </div>
        </div>
        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/jquery.maskedinput.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/fog.js"></script>
        <script src="../static/js/blur.js"></script>
        <script src="../static/js/personal/background.js"></script>
        <script src="../static/js/toast.js"></script>
        <script src="../static/js/moment.js"></script>
        <script src="../static/js/date.js"></script>
    <script src="../static/js/jquery-clockpicker.min.js"></script>
    <script type="text/javascript">
    $('.clockpicker').clockpicker({
        placement: 'top',
        donetext: 'Finish',
        autoclose: true
    });
    </script>
        <script>
            function go() {
                if ($("#name").val()) {
                	if ($("#phone").val()) {
	                    if ($("#people").val()) {
	                        if ($("#date").val()) {
	                            var d = $("#date").val();
	                            var da = new Date(d)
	                            var day = da.getDate();
	                            var year = da.getFullYear();
	                            var month = da.getMonth();
	                            $("#hiddenday").val(day);
	                            $("#hiddenyear").val(year);
	                            $("#hiddenmonth").val(month);
	                            $("#hiddentime").val($("#theTime").val())
	                            var hour = parseInt($("#theTime").val()[0] + $("#theTime").val()[1]);
	                            var minute = parseInt($("#theTime").val()[3] + $("#theTime").val()[4]);
	                            var d = $("#date").val();
	                            var da = new Date(d)
	                            var day = da.getDay();
	                            $.get("/reservations/api?day=" + day, function(dat) {
	                                var data = JSON.parse(dat)
	                                var start = data['start']
	                                var end = data['end']
	                                if (hour >= start && hour <=end) {
	                                $("#contact")[0].submit();
	                            } else {
	                                var d = $("#date").val();
	                                var da = new Date(d)
	                                var day = da.getDay();
	                                $.get("/reservations/api?day=" + day, function(dat) {
	                                    var data = JSON.parse(dat)
	                                    var start = data['start']
	                                    var end = data['end']
	                                    var statement = "Please pick an hour between " + start + ":00 and " + end + ":00"
	                                    $.toaster(statement, "Error", "danger")
	                                })
	                            }
	                            })
	                        } else {
	                            $.toaster("Please enter a date", "Error", "danger")
	                        }
	                    } else {
	                        $.toaster("Please enter your party size", "Error", "danger")
	                    }
	                } else {
	                	$.toaster("Please enter a valid phone number.", "Error", "danger")
	                }
                } else {
                    $.toaster("Please enter a name", "Error", "danger")
                }
            }
        </script>
        <script type="text/javascript">
            $(function () {
                var tomorrow = new Date();
                tomorrow.setDate(tomorrow.getDate() + 1);
                $('#datetimepicker1').datetimepicker({
                    ignoreReadonly: true,
                    minDate: new Date(),
                    useCurrent: false,
                    disabledHours: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 24],
                    enabledHours: [17, 18, 19, 20, 21, 22, 23],
                    daysOfWeekDisabled: [
                        {% for day in bad %}
                        {% if not loop.last %}
                        {{ day }},
                        {% else %}
                        {{ day }}
                        {% endif %}
                        {% endfor %}
                                        ],
                    format: 'YYYY-MM-DD'
                });
                $('#datetimepicker1').on("dp.change", function(e) {
                    var d = $("#date").val();
                    var da = new Date(d)
                    var day = da.getDay();
                    $.get("/reservations/api?day=" + day, function(dat) {
                        var data = JSON.parse(dat)
                        var start = data['start']
                        var end = data['end']
                        $("#start").html(start)
                        $("#end").html(end)
                        $("#second").show()
                    })
                })
            });
        </script>
        <script>
            $("#phone").mask("(999) 999-9999");

            $("#phone").on("blur", function() {
                var last = $(this).val().substr( $(this).val().indexOf("-") + 1 );

                if( last.length == 3 ) {
                    var move = $(this).val().substr( $(this).val().indexOf("-") - 1, 1 );
                    var lastfour = move + last;
                    var first = $(this).val().substr( 0, 9 );

                    $(this).val( first + '-' + lastfour );
                }
            });
        </script>
</body>

</html>