<!DOCTYPE html>
<html>
    <head>
        <!-- Import CSS -->
        <link rel="stylesheet" href="../static/css/personal/error/errorcss.css">
        
        <title>Leaf | Error Page</title>
    </head>
    <body>
        <div class="error-body">
            <h1 class="hone error-text-top">Error: {{ error }}</h1>
            <h3 class="shone error-text-mid">{{ desc }}</h3>
            <div class="divider-line"></div>
            <p class="pone">Please try again later<br>or contact the system administrator<br>if the problem continues</p>
        </div>
        
        <div class="error-image">
            <img src="../static/images/error/broken2.0.png">
        </div>
    </body>
</html>